﻿<%@ Master Language="VB" CodeFile="Adminmaster.master.vb" Inherits="Webroot_Admin_Adminmaster" %>
<%@ Register Src="~/Controls/Navbar.ascx" TagName="navbar" TagPrefix="uc1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title>Admin</title>
    
     <link href="/css/metro.css" rel="stylesheet" />
    <link href="/css/metro-icons.css" rel="stylesheet" />
    <link href="/css/metro-responsive.css" rel="stylesheet" />
    <link href="/css/metro-rtl.css" rel="Stylesheet" />
    <link href="/css/docs.css" rel="stylesheet" />
    <link href="/css/grid.css" rel="stylesheet" />
    <link href="/css/metro-schemes.css" rel="Stylesheet" />
  
    <script src="/js/docs.js" type="text/javascript"></script>
    <script src="/js/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="/js/metro.js" type="text/javascript"></script>
    <script src="/js/ga.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css" />
<%--    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="text/javascript"></script>--%>
     <meta charset="UTF-8" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body style="background-color:#ECEAE7;">
    
    <form runat="server">
        
            <uc1:navbar ID="navbar" runat="server" />
        <div style="width:1100px; box-shadow: 1px 3px 50px 3px gray;" class="container clear-float page-content bg-white">
          <%--<div class="grid responsive">
              <div class="row cells5">
                  <div class=" cell">

                      <ul class="sidebar navy" style="width: 200px; height:100%; margin-left: 10px; margin-bottom: 10px; float: left;">
                <li><a href="/webroot/Admin/Helpdesk/Ticket_new.aspx">
                    <span class="mif-plus icon"></span>
                    <span class="title">New Ticket</span>
                 
                </a></li>
                <li><a href="/webroot/Admin/Helpdesk/Tickets.aspx">
                    <span class="mif-bubbles icon"></span>
                    <span class="title">My Tickets</span>
                 
                </a></li>
                <li><a href="/webroot/Admin/Helpdesk/opentickets.aspx">
                    <span class="mif-mail-read icon"></span>
                    <span class="title">Open Tickets</span>
                  
                </a></li>
                <li><a href="/webroot/Admin/Helpdesk/ClosedTickets.aspx">
                    <span class="mif-envelop icon"></span>
                    <span class="title">Closed Tickets</span>
                 
                </a></li>
                <li><a href="/webroot/Admin/Helpdesk/pastduetickets.aspx">
                    <span class="mif-pin icon"></span>
                    <span class="title">Pastdue Tickets</span>
                    
                </a></li>
            </ul>
                  </div>
                  <br />
                  <div class="cell colspan4">
                       <asp:ContentPlaceHolder ID="body" runat="server">
 
    </asp:ContentPlaceHolder>

                    
                  </div>
              </div>
          </div>--%>
             <asp:ContentPlaceHolder ID="body" runat="server">
 
    </asp:ContentPlaceHolder>
            </div>
         
         <footer style="width:1100px; box-shadow: 1px 20px 50px 3px gray;" class="container">
            <div class="bottom-menu-wrapper bg-lightBlue">
                <ul class="horizontal-menu compact fg-white">
                    <li><a>&copy; 2017 Plumbago Service Desk</a></li>
                   
                </ul>
            </div>
        </footer>
      
        
    </form>
    <script>
        $(function () {
            $("#panel").panel();
        });
</script>
    <script>
        $(function () {
            $("#accordion").accordion();
        });
</script>
   
    
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
</script>
   


</body>
</html>
