﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Users.ascx.vb" Inherits="Controls_Users" %>
<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
 <span>  <dx:ASPxComboBox ID="combo1" IncrementalFilteringMode="Contains" ValueType="System.String" CssClass="text-secondary" Width="170px" AutoResizeWithContainer="True" AnimationType="Slide" Border-BorderColor="DarkBlue" OnItemsRequestedByFilterCondition="combo1_ItemsRequestedByFilterCondition" CallbackPageSize="10" EnableCallbackMode="True" OnItemRequestedByValue="combo1_ItemRequestedByValue" runat="server" EnableTheming="True" Theme="PlasticBlue">
                           </dx:ASPxComboBox></span>