﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Webroot/Admin/Adminmaster.master" AutoEventWireup="false" CodeFile="Company_settings.aspx.vb" Inherits="Webroot_Admin_Settings_Company_settings" %>
<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Register Src="~/Controls/messagebox.ascx" TagName="msgbox" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="Server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <uc1:msgbox ID="Msgbox1" runat="server"></uc1:msgbox>
        </ContentTemplate>

    </asp:UpdatePanel>

    <h3 id="lblcategory" runat="server" class="title fg-blue margin20"> Company Settings</h3>
    <div data-role="panel" class="panel margin20">


        <div style="z-index: 999;" class="content">
            <h5 class="hint-text">Company Settings</h5>
            <hr />
            <div>
                <table width="100%">
                    <tr height="50px">
                        <td>
                            <p class="text-small text-bold">Company name: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtcompname" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">Company address: </p>
                        </td>
                        <td>
                            <span>
                          <asp:TextBox ID="txtcompaddress" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="text-small text-bold">Company Abrev: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtcompabrev" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">Initial Pwd Days: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtinitialpwd" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-small text-bold">Change pwd days: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtchangepwd" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                           
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                  

                </table>
            </div>

            
           <br />
            <h5 class="hint-text">Email Settings</h5>
            <hr />
             <div>
                <table width="100%">
                    <tr height="50px">
                        <td>
                            <p class="text-small text-bold">SMTP email: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtsmtpemail" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">SMTP Server: </p>
                        </td>
                        <td>
                            <span>
                          <asp:TextBox ID="txtsmtpserver" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>


                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="text-small text-bold">SMTP Username: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtsmtpusername" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">SMTP Password: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtSmtppwd" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-small text-bold">SMTP Port: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtsmtpport" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                             <p class="text-small text-bold">SMS Account: </p>
                        </td>
                    <td>
                                      <span>
                                <asp:TextBox ID="txtsmsacct" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>
                    </td>
                    </tr>
                  <tr>
                      <td> <p class="text-small text-bold">SMS Password: </p></td>
                          <td>        <span>
                                <asp:TextBox ID="txtsmspassword" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span></td>
                          <td>

                          </td>
                          <td></td>
                  </tr>

                </table>
            </div>

              
           <br />
            <h5 class="hint-text">Active Directory Settings</h5>
            <hr />
            <table width="100%">
                    <tr height="50px">
                        <td>
                            <p class="text-small text-bold">Active Directory Server: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtadserver" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">AD Username: </p>
                        </td>
                        <td>
                            <span>
                          <asp:TextBox ID="txtadusername" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>


                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="text-small text-bold">AD Password: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtadpassword" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                          
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                    
                  

                </table>


        </div>





        <div class="align-center">
            <span>&nbsp;<asp:Button ID="cmdsave" Height="29px" OnClick="cmdsave_Click" runat="server" CssClass="button text-small bg-darkOrange fg-white mini-button" Text="Submit" Font-Size="X-Small" Font-Bold="True" /></span>

            <span>
                <asp:Button ID="btncancel" Visible="true" Height="29px" OnClientClick="history.go(-1)" CssClass="button text-small bg-red fg-white mini-button" runat="server" Text="Cancel" ToolTip="Cancel" Font-Size="X-Small" Font-Bold="True" /></span>


        </div>
    </div>
</asp:Content>

