﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Webroot/Admin/Adminmaster.master" AutoEventWireup="false" CodeFile="Users_edit.aspx.vb" Inherits="Webroot_Admin_Settings_Users_edit" %>

<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Register Src="~/Controls/messagebox.ascx" TagName="msgbox" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="Server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <uc1:msgbox ID="Msgbox1" runat="server"></uc1:msgbox>
        </ContentTemplate>

    </asp:UpdatePanel>

    <h4 id="lbluser" runat="server" class="title fg-blue margin20"></h4>
    <div data-role="panel" class="panel margin20">


        <div style="z-index: 999;" class="content">
            <h5 class="hint-text">Personal Details</h5>
            <hr />
            <div>
                <table width="100%">
                    <tr height="50px">
                        <td>
                            <p class="text-small text-bold">Username: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtusername" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">Status: </p>
                        </td>
                        <td>
                            <span class="bg-darkRed fg-white text-small text-bold">
                                <asp:CheckBox ID="chkactive" Text="Active" runat="server" />
                                <asp:CheckBox ID="chkdisabled" Text="Disable" runat="server" />
                            </span>

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="text-small text-bold">Password: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtpassword" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">Confirm Password: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtconfirm" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-small text-bold">Firstname: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtfirstname" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">Email: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtemail" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-small text-bold">Lastname: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtlastname" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">Phone: </p>
                        </td>
                        <td>

                            <span>
                                <asp:TextBox ID="txtphone" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>


                        </td>
                    </tr>



                    <tr>
                        <td>
                            <p class="text-small text-bold">Address: </p>
                        </td>
                        <td>
                            <span>
                                <asp:TextBox ID="txtaddress" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                        </td>
                        <td>
                            <p class="text-small text-bold">Pwd Expiry: </p>
                        </td>
                        <td>
                            <span>
                                <dx:ASPxDateEdit ID="expiry" TimeSectionProperties-Visible="false" CssClass="text-secondary" EditFormatString="dd-MMM-yyyy hh:mm tt" runat="server" EnableTheming="True" Theme="SoftOrange" EditFormat="Custom" Width="170px">
                                    <TimeSectionProperties>
                                        <TimeEditProperties EditFormatString="hh:mm tt" />
                                    </TimeSectionProperties>
                                </dx:ASPxDateEdit>
                            </span>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="bg-darkRed fg-white text-small text-bold">
                                <asp:CheckBox ID="chkisadmin" Text="Admin" runat="server" />
                                <asp:CheckBox ID="chkuser" Text="Basic User" runat="server" />
                            </span>

                        </td>
                        <td>

                            <span>
                                <asp:TextBox ID="txtuserID" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server" Visible="False" Width="100px"></asp:TextBox></span>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
            </div>
        </div>





        <div class="align-center">
            <span>&nbsp;<asp:Button ID="cmdsave" Height="29px" OnClick="cmdsave_Click" runat="server" CssClass="button text-small bg-darkOrange fg-white mini-button" Text="Submit" Font-Size="X-Small" Font-Bold="True" /></span>

            <span>
                <asp:Button ID="btncancel" Visible="true" Height="29px" OnClientClick="history.go(-1)" CssClass="button text-small bg-red fg-white mini-button" runat="server" Text="Cancel" ToolTip="Cancel" Font-Size="X-Small" Font-Bold="True" /></span>

        </div>
    </div>
</asp:Content>

